.header {
  margin-bottom: 20px;
  background: black;
  height: 40px;
  padding: 8px 12%;
  color: #AAA;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.separator {
  padding: 0 10px;
  color: #333;
}

.header a {
  color: #AAA;
}
