.trackPackageAffix {
  pointer-events: none;
}

.collapseAffixWrapper {
  padding: 20px;
  background-color: rgba(106, 74, 60, 1);
  color: #FEFEFE;
  font-size: 1.5em;
  border-radius: 0 50px 50px 0;
  border: none;
  pointer-events: auto;
}

.searchIcon {
  font-weight: bold;
}

.fullAffixWrapper {
  text-align: center;
  background-color: rgba(106, 74, 60, 0.9);
  pointer-events: auto;
}

.searchButton {
  padding: 0 30px;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.searchWrapper {
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px 0;
}

.input {
  padding: 20px;
  font-size: 1.5em;
}

.closeIcon {
  font-size: 4em;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(106, 74, 60, 1);
  padding: 20px 0;
}
