.antLayoutSider {
  float: left;
}

.antLayoutContent {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.card {
  width: 80%;
  max-width: 650px;
}

.cardWrapper {
  clear: both;
}

.pwdStrength {
  display: inline-block;
  margin-left: 8px;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
}

.pwdStrengthItem {
  float: left;
  margin-right: 1px;
  margin-top: 12px;
  width: 19px;
  height: 8px;
  line-height: 8px;
  list-style: none;
  background-color: #f3f3f3;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pwdStrengthItem1 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pwdStrengthItem2 {
  width: 20px;
}

.pwdStrengthItem3 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 8px;
}

.pwdStrengthLow .pwdStrengthItem1, .pwdStrengthMedium .pwdStrengthItem1, .pwdStrengthHigh .pwdStrengthItem1 {
  background-color: #FAC450;
}

.pwdStrengthMedium .pwdStrengthItem2, .pwdStrengthHigh .pwdStrengthItem2 {
  background-color: rgba(135, 208, 104, .6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9987D068',endColorstr='#9987D068');
}

.pwdStrengthHigh .pwdStrengthItem3 {
  background-color: #87D068;
}
