:global .ant-tabs-nav {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.listCard {
  margin: 3% 0;
  min-height: 500px;
}

.placeHolder {
  color: #AAA;
}

.reloadButton {
  margin-left: 20px;
}

.tabTitle {
  padding: 15px;
}
