.signup {
  margin-top: 50px;
}

.tabs {
  margin-left: -24px;
  margin-right: 40px;
}

.captcha {
  height: 32px;
  width: auto;
  margin-bottom: 24px;
}

.passwordBar {
  padding-top: 30px;
}

.pwdStrength {
  display: inline-block;
  margin-left: 8px;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
}

.pwdStrengthItem {
  float: left;
  margin-right: 1px;
  margin-top: 12px;
  width: 19px;
  height: 8px;
  line-height: 8px;
  list-style: none;
  background-color: #f3f3f3;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pwdStrengthItem1 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pwdStrengthItem2 {
  width: 20px;
}

.pwdStrengthItem3 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 8px;
}

.pwdStrengthLow .pwdStrengthItem1, .pwdStrengthMedium .pwdStrengthItem1, .pwdStrengthHigh .pwdStrengthItem1 {
  background-color: #FAC450;
}

.pwdStrengthMedium .pwdStrengthItem2, .pwdStrengthHigh .pwdStrengthItem2 {
  background-color: rgba(135, 208, 104, .6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9987D068',endColorstr='#9987D068');
}

.pwdStrengthHigh .pwdStrengthItem3 {
  background-color: #87D068;
}

.reloadIcon {
  margin-bottom: 30px;
  font-size: 18px;
  cursor: pointer;
  color: #2db7f5;
}
