.footer {
  margin-top: 10%;
  background: #4c4c4c;
  color: #AAA;
  padding-top: 40px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  border-top: 3px solid #FF3A46;
}

.logo {
  margin: 10px 0 0 0;
}

.sectionTitle {
  font-size: 1.3em;
  color: #E4E4E4;
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  font-size: 11px;
  margin-top: 5%;
  background-color: #3c3c3e;
  padding: 10px;
}

.paypal {
  /*height: 10px;*/
}
