.form {
  background-color: #FAFAFA;
  padding: 15px;
}

.order {
  margin-right: 10%;
}

.title {
  font-size: 15px;
  margin-bottom: 15px;
  color: #999;
}

.label {
  margin-right: 10px;
  color: #999;
}

.subTitle {
  font-size: 13px;
  color: #AAA;
  margin: 10px 0;
}

.icon {
  margin-right: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px dotted lightgray;
  padding: 15px;
  margin-bottom: 30px;
}

.button {
  margin-right: 5px;
}

.times {
  text-align: center;
}

.result {
  margin-top: 5%;
}

.resultTitle {
  font-size: 20px;
}

.resultButton {
  margin-right: 5%;
}

.changeCarrierButton {
  margin-top: 15px;
}

.addressItemInner {
  padding: 1em;
	border: 6px solid transparent;
	border-image: 6 repeating-linear-gradient(-45deg, rgb(237, 232, 236) 0, rgb(237, 232, 236) 1em, transparent 0, transparent 2em,
	              rgb(239, 242, 249) 0, rgb(239, 242, 249) 3em, transparent 0, transparent 4em);
	max-width: 100%;
}

.addressItemInner:hover, .activeAddressItem {
	border-image: 6 repeating-linear-gradient(-45deg, #CC333F 0, #CC333F 1em, transparent 0, transparent 2em,
	              #58a 0, #58a 3em, transparent 0, transparent 4em);
}

.addressItem {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #F4F4F4;
  margin-bottom: 3%;
}

.addressName {
  font-weight: 500;
  color: #444;
  font-size: 1.1em;
  margin-right: 5px;
}

.chooseHint {
  margin-bottom: 30px;
  color: #444;
  font-weight: 500;
  font-size: 1.1em;
}

.chooseHintIcon {
  margin-left: 5px;
  margin-right: 30px;
}

.unchooseAddress {
  color: #CC333F;
  cursor: pointer;
}
