@CHARSET "UTF-8";

/**
 * 	General settings
 */
body {
	font-size: 10pt;
}

hr {
	border-top: 1px dashed;
	border-bottom: 1px dashed;
}

table {
	border-collapse: collapse;
	border: 0px;
	width: 100%;
}

@media print {
	.print-hide {
		display: none !important;
	}
}

/*------Special-----*/
.packing_slip {
	display: block;
	margin: auto auto;
	height: 120pt;
	max-height: 150pt;
	width: 270pt;
	position: relative;
	overflow: hidden;
	border: 1px solid #FFF;
}

.address_label {
	width: 60%;
	float: left;
	width: 130pt;
}

.address_label_from {
	font-size: 0.6em;
}

.address_label_to {
	font-size: 0.9em;
	line-height: 1em;
	margin-bottom: 5px;
}

.invoice_label {
	width: 48%;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid #000;
	padding: 2px;
	max-width: 48%;
}

.invoice_label span {
	font-size: 0.6em;
	padding: 2px;
	border: 1px solid #000;
	float: left;
	margin: 0 -1px -1px 0;
}

.invoice_detail {
	clear: both;
	display: inline-block;
}

.invoice_label_from {
	float: right;
	text-align: right;
	font-size: 0.6em;
}

.invoice_label_to {
	font-size: 0.6em;
}

.delivery_service {
	font-size: 0.6em;
	text-align: right;
	margin: 5px;
	font-family: helvetica;
	margin: 0;
	white-space: nowrap;
}

.consignment_info {
	font-size: 1em;
	line-height: 1em;
}

.delivery_service_stamp {
	float: right;
	display: block;
	text-align: right;
	width: 135pt;
	max-width: 48%;
	overflow: hidden;
}

.delivery_service_stamp img {
	max-width: 100%;
	max-height: 100%;
}

.multiple_product_consignment_indictor {
	border: dashed 2pt #000;
}

.barcode {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	top: auto;
	right: auto;
	min-width: 150px;
}

/**
 * 	Duplicate
 */
.duplicate .address_label_to {
	font-size: 0.7em;
}

.duplicate > .delivery_service_stamp {
	display: block;
	bottom: 0;
	left: 0;
	position: absolute;
	float: left;
	max-width: 50%;
}

.duplicate > .barcode {
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;
}

/**
 * 	CN22
 */
.CN22 {
	height: 270pt;
	max-height: 270pt;
	line-height: 100%;
}

.CN22 small {
	display: block;
	font-size: 80%;
	line-height: 100%;
}

.CN22 > .address_label {
	float: right;
}

.CN22.duplicate .address_label {
	float: left;
}

.CN22 .address_label .delivery_service_stamp {
	width: 100%;
	max-width: 100%;
}

.customs_info {
	width: 120pt;
	font-size: 60%;
	float: left;
	border: 1px solid #000;
	padding: 5px;
}

.customs_info_body {
	border-top: 1px solid #000;
}

/**
 * 	4X4
 */
.SIZE4X4 {
	height: 270pt;
	max-height: 270pt;
	line-height: 100%;
}

/**
 * 	4X6
 */
.SIZE4X6 {
	height: 405pt;
	max-height: 405pt;
	line-height: 100%;
}

/**
 * 	RoyalMail Standard Service
 */

.rms .postcode_sortcode {
	float: right;
	font-size: 20pt;
	font-weight: bold;
}

/**
 * 	RoyalMail High Volume Tracked Service
 */
.rmhv * {
	color: #000;
}

.rmhv {
	position: relative;
}

.rmhv .canvas {
	width: 270pt;
	height: 405pt;
	padding: 5pt;
	border: 1px solid #333;
}

.rmhv .canvas .service_label {
	float: left;
	text-align: left;
}

.rmhv .canvas .service_label img {
	width: 120pt;
}

.rmhv .canvas .ppi {
	float: right;
	text-align: left;
}

.rmhv .canvas .ppi img {
	width: 140pt;
}

.rmhv .canvas .ppi .stamp {

}

.rmhv .canvas .ppi .signature_required {

}

.rmhv .canvas .ppi .signature_required img {
	width: 60pt;
}

.rmhv .canvas .safeplace {
	margin: 100pt auto 10pt auto;
	width: 80%;
	padding: 1pt;
	font-family: "Arial";
	font-size: 13pt;
	border: 1px solid #000;
	visibility: hidden;
}

.rmhv .canvas .barcode {
	margin: 10pt auto 5pt auto;
	position: relative;
	text-align: center;
}

.rmhv .canvas .barcode img {

}

.rmhv .canvas .return_address {
	position: absolute;
	float: left;
	width: 220pt;
	margin-left: -100pt;
	margin-top: 30pt;
	font-size: 6pt;
	line-height: 6pt;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.rmhv .canvas .address {
	border: 1px solid #000;
	margin: 0pt 0pt 10pt 20pt;
	float: left;
	padding: 2pt;
	position: relative;
}

.rmhv .canvas .address .main_address {
	font-size: 12pt;
	line-height: 12.5pt;
	width: 245pt;
}

.rmhv .canvas .address .reference {
	bottom: 0;
	right: 0;
	font-size: 6pt;
	text-align: right;
	line-height: 6pt;
	width: 100%;
}

.rmhv .canvas .address .reference span {
	margin-left: 2pt;
	float: right;
}

.rmhv .canvas .rm_label {
	float: right;
	text-align: center;
	margin-top: 20pt;
}

.rmhv .canvas .rm_label img {
	width: 50pt;
}

.rmhv .canvas .postcode_sortcode {
	float: left;
	font-size: 30pt;
	margin: 10pt 5pt 0pt 30pt;
}

.rmhv .canvas .postcode_barcode {
	margin-left: 140pt;
	margin-right: 5pt;
}

/**
 * 	RoyalMail Signed for and RoyalMail Label Stock (101mm * 87mm)
 */
.rmsf * {
	color: #000;
}

.rmsf {
	position: relative;
	margin: 0, 0, 0, 0;
	width: 266pt;
}

.rmsf .canvas {
	width: 250pt;
	height: 288pt;
	padding: 5pt;
	border: 1px solid #333;
}

.rmsf .canvas .ppi {
	margin: 0pt auto 0pt auto;
	text-align: left;
}

.rmsf .canvas .ppi img {
	width: 250pt;
}

.rmsf .canvas .ppi .stamp {

}

.rmsf .canvas .postcode_sortcode {
	position: absolute;
	top: 90pt;
	left: 15pt;
	padding: 1pt;
	font-family: "Arial";
	font-size: 12pt;
	border: 0px solid #000;
	text-align: right;
}

.rmsf .canvas .safeplace {
	position: absolute;
	top: 80pt;
	right: 47pt;
	width: 245pt;
	padding: 1pt;
	font-family: "Arial";
	font-size: 13pt;
	border: 0px solid #000;
	text-align: right;
}

.rmsf .canvas .barcode {
	position: absolute;
	top: 105pt;
	right: 50pt;
	left: auto;
	width: 150pt;
	margin: 0;
	text-align: center;
}

.rmsf .canvas .barcode img {
	position: relative;
	margin: 0;
}

.rmsf .canvas .address {
	position: absolute;
	top: 150pt;
	margin: 0;
	border: 1px solid #000;
	float: left;
	padding: 2pt;
}

.rmsf .canvas .address .main_address {
	font-size: 12pt;
	line-height: 12.5pt;
	width: 245pt;
}

.rmsf .canvas .address .reference {
	bottom: 0;
	right: 0;
	font-size: 6pt;
	text-align: right;
	line-height: 6pt;
	width: 100%;
}

.rmsf .canvas .address .reference span {
	margin-left: 2pt;
	float: right;
}

.rmsf .canvas .rm_label {
	float: right;
	text-align: center;
	margin-top: 20pt;
}

.rmsf .canvas .rm_label img {
	width: 50pt;
}

.rmsf .canvas .return_address {
	position: absolute;
	top: 275pt;
	width: 250pt;
	margin: 5pt, 0pt, 0pt, 0pt;
	font-size: 8pt;
	line-height: 8pt;
}

/**
 * 	RoyalMail 2015 version 2.0 label specification
 */
@font-face {
	font-family: "Chevin-Light";
	src: url("../font/ChevinLight.ttf") format("truetype");
}

.rm_v2 {
	font-family: 'Chevin-Light', Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 10pt;
	line-height: 12pt;
}

.rm_v2 p {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 0.8em;
	line-height: 1em;
	margin: 0 0 9px;
}

.rm_v2 .font8 {
	font-size: 8pt;
	line-height: 10pt;
}

.rm_v2 .packing_slip {
	display: block;
	margin: auto auto;
	border: 1pt solid black;
	padding: 0pt;
	height: 420pt;
	max-height: 420pt;
	width: 280pt;
	position: relative;
	overflow: hidden;
}

.rm_v2 .packing_slip .zone {
	position: relative;
	border-top: 1pt solid black;
	padding: 3pt;
	min-height: 16pt;
}

.rm_v2 .packing_slip .ppi {
	margin: 0pt auto 0pt auto;
	text-align: left;
	max-height: 62pt;
}

.rm_v2 .packing_slip .ppi img {
	height: 62pt;
	width: 280pt;
}

.rm_v2 .packing_slip .delivery_instructions {
	height: 20pt;
}

.rm_v2 .packing_slip .postcode_sortcode {
	position: absolute;
	margin-left: 20pt;
	font-size: 21pt;
	font-weight: bold;
	line-height: 25pt;
}

.rm_v2 .packing_slip .delivery_instructions .postcode_sortcode {
	margin-left: 10pt !important;
}

.rm_v2 .packing_slip .delivery_instructions .instruction {
	position: absolute;
	left: 210pt !important;
}

.rm_v2 .packing_slip .barcode_container {
	height: 100pt;
}

.rm_v2 .packing_slip .vertical_align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); /* trick way to vertical align */
	overflow: hidden !important;
}

.rm_v2 .packing_slip .vertical_align45 {
	position: absolute;
	top: 50%;
	transform: translateY(-45%); /* trick way to vertical align */
	overflow: hidden !important;
}

.rm_v2 .packing_slip .barcode, .rm_v2 .packing_slip .barcode_nostrech {
	overflow: hidden !important;
}

.rm_v2 .packing_slip .barcode.target1 {
	left: 5mm;
	min-height: 22mm;
	min-width: 22mm;
}

.rm_v2 .packing_slip .barcode.target2, .rm_v2 .packing_slip .barcode.target3 {
	left: auto;
	right: 6mm;
	min-height: 19mm;
	max-height: 19mm;
	min-width: 39mm;
}

.rm_v2 .packing_slip .target4 {
	position: absolute;
	left: 2pt;
	top: 98pt;
	height: 12pt !important;
	min-width: 94pt !important;
	width: 94pt !important;
}

.rm_v2 .packing_slip .barcode2d_text {
	position: absolute;
	left: 12pt;
	top: 2pt;
	text-align: left;
	display: inline;

}

.rm_v2 .packing_slip .barcode_text {
	position: absolute;
	right: 5mm;
	bottom: 4mm;
	text-align: center;
	display: inline;
	min-width: 39mm;
	width: 40%;
}

.rm_v2 .packing_slip .barcode object {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
}

.rm_v2 .packing_slip .barcode_nostrech object {
	display: block;
	position: relative;
}

.rm_v2 .packing_slip .address_label {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	position: relative;
	height: 90pt;
	float: none;
	width: 100%;
}

.rm_v2 .packing_slip .address_label_to {
	margin-bottom: auto;
	margin-left: 10pt;
	font-size: 1.1em;
	line-height: 1.2em;
	width: 75%;
}

.rm_v2 .packing_slip .return_address {
	position: absolute;
	width: 90pt;
	top: 90pt;
	left: 80%;
	font-size: 7pt;
	line-height: 7pt;
	border: 0;
}

.rm_v2 .packing_slip .rotate90 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
}

.rm_v2 .packing_slip .special_instructions {
}

.rm_v2 .packing_slip .customer_area {
	height: 84pt;
}

.rm_v2 .packing_slip .customer_area .postcode_sortcode {
	bottom: 2pt;
}

.rm_v2 .packing_slip .customer_area .barcode_text {
	top: 85pt;
	bottom: auto;
}

.rm_v2 .invoice_label {
	border: 1px solid #000;
	border-top: 0;
	left: 18pt;
	top: 0pt;
	bottom: auto;
	max-width: 114pt;
	max-height: 60pt;
	padding: 2px;
	position: absolute;
	width: 48%;
}

/**
 * 	RoyalMail 2015 version 2.0 label specification
 */
.rm_v2_4x2 .packing_slip {
	height: 130pt;
	max-height: 130pt;
	width: 274pt;
}

.rm_v2_4x2 .postcode_sortcode {
	position: absolute;
	left: 0pt;
	bottom: 3pt;
	font-size: 16pt;
	font-weight: bold;
}

.rm_v2_4x2 .return_address, .rm_v2_4x2 .address_label {
	margin-left: 24pt;
}

.rm_v2_4x2 .delivery_service_stamp {
	max-width: 45%;
	width: 130pt;
}

.rm_v2_4x2 .address_label {
	width: 120pt !important;
}

.rm_v2_4x2 .barcode, .rm_v2_4x2 .barcode_nostrech {
	overflow: hidden !important;
}

.rm_v2_4x2 .barcode.target1 {
	left: auto;
	right: 4mm;
	bottom: 1pt;
	min-height: 22mm;
	min-width: 22mm;
}

.rm_v2_4x2 .packing_slip .barcode2d_text {
	position: absolute;
	right: 1mm;
	top: 16mm;
	text-align: left;
	display: inline;
	font-size: 8pt;
	line-height: 10pt;
}

.rm_v2_4x2 .target2 {
	position: absolute;
	left: 0pt;
	top: 100pt;
	height: 20pt !important;
	/*min-width: 94pt !important;
	width: 94pt !important;*/
}

.rm_v2_4x2 .rotate90 {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
}

.rm_v2_4x2 .invoice_label {
	left: 24pt;
	bottom: 0;
	max-width: 150pt;
	max-height: 60pt;
	padding: 2px;
	position: absolute;
	width: 60%;
}

/**
 * 	DHL
 */
.dhl .return_address {
	border-bottom: 1px solid #000;
	font-size: 0.6em;
	line-height: 0.9em;
}


/*
 *
 * dhl online
 */
.dhlonline .packing_slip {
	border: 0 none !important;
	height: 420pt;
	width: 280pt;
	max-height: 420pt;
}


/**
 * 	Product SKU
 */
.sku .packing_slip {
	height: 60pt;
	max-height: 60pt;
	width: 120pt;
}

.packing_slip .return_address {
	border-bottom: 1px solid #000;
	font-size: 0.6em;
	line-height: 0.9em;
}

/**
 * 	EPARCEL
 */
.eparcel {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 9.5pt;
	line-height: 12pt;
}

.eparcel p {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 0.7em;
	line-height: 1em;
	margin: 0 0 9px;
}

.eparcel .packing_slip {
	display: block;
	margin: auto auto;
	/*border: 1pt solid black;*/
	padding: 3pt;
	height: 432pt;
	max-height: 432pt;
	width: 292pt;
	position: relative;
	overflow: hidden;
}

.eparcel .packing_slip .ppi {
	margin: 3pt auto;
	text-align: left;
	max-height: 42pt;
}

.eparcel .packing_slip .ppi img {
	height: 42pt;
	width: 280pt;
}

.eparcel .packing_slip .address_label {
	position: relative;
	height: 114pt;
	float: none;
	width: 100%;
	padding: 3pt;
}

.eparcel .packing_slip .address_label_to {
	font-size: 1.2em;
	line-height: 1.3em;
}

.eparcel .packing_slip .address_label_to .contact_telephone {
	font-size: 0.8em;
	position: absolute;
	width: 40%;
	left: 30%;
	top: 5pt;
}

.eparcel .packing_slip .address_label_delivery_to {
	width: 40%;
	line-height: 1.4em;
}

.eparcel .packing_slip .delivery_instructions {
	position: relative;
	border-top: 1pt solid black;
	padding: 3pt;
	height: 40pt;
}

.eparcel .packing_slip .delivery_instructions .instruction {
	width: 100%;
}

.eparcel .packing_slip .delivery_instructions .total_weight {
	position: absolute;
	margin: auto;
	right: 5pt;
	top: 0;
	bottom: 0;
	height: 50%;
	font-size: 0.9em;
}

.eparcel .packing_slip .consignment {
	position: relative;
	border-top: 1pt solid black;
	padding: 1pt 3pt 1pt 1pt;
	height: 20pt;
}

.eparcel .packing_slip .signature_required {
	position: absolute;
	width: 190pt;
	border: 0;
	text-align: left;
	padding: 3pt 1pt;
}

.eparcel .packing_slip .consignment_id {
	position: absolute;
	border-left: 1pt solid black;
	padding: 1pt;
	width: 100pt;
	right: 0;
	font-size: 0.9em;
	line-height: 1.1em;
}

.eparcel .packing_slip .barcode {
	position: relative;
	border-top: 1pt solid black;
	padding: 3pt;
	height: 100pt;
}

.eparcel .packing_slip .barcode .article_id {
	text-align: center;
	font-size: 0.95em;
	font-weight: bold;
}

.eparcel .packing_slip .barcode img.oldversion {
	width: 90%;
}

.eparcel .packing_slip .barcode img {
	width: 100%;
	display: block;
	position: relative;
	margin: 1pt auto;
}

.eparcel .packing_slip .send_address_and_aviation_declaration {
	border-top: 1pt solid black;
	padding: 3pt;
}

.eparcel .packing_slip .bottom_left {
	width: 150pt;
	position: absolute;
	height: 88pt;
}

.eparcel .packing_slip .return_address {
	border: 0;
	font-size: 0.8em;
	line-height: 1.15em;
}

.eparcel .packing_slip .aviation_declaration {
	position: absolute;
	width: 135pt;
	border-left: 1pt solid black;
	padding-left: 3pt;
	right: 0;
	font-size: 0.75em;
	line-height: 1.1em;
}

.eparcel .invoice_label {
	border: 1px solid #000;
	bottom: 2pt;
	max-width: 97%;
	padding: 2px;
	position: absolute;
	right: 0;
	width: 97%;
	max-height: 55pt;
}

.eparcel .invoice_detail {
	/*position: absolute;
	bottom: 2pt;
	right: 0;*/
}

.eparcel .packing_slip .matrix_barcode {
	position: absolute;
	right: 2pt;
	top: 60pt;
	padding: 1pt;
	height: 60pt;
	width: 60pt;
}

/**
 * 	SWISS EU POST
 */
.swiss {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 10pt;
	line-height: 12pt;
}

.swiss .packing_slip {
	display: block;
	margin: auto auto;
	/*border: 1pt solid black;*/
	padding: 0;
	max-height: 292pt;
	height: 292pt;
	width: 292pt;
	position: relative;
	overflow: hidden;
}

.swiss .packing_slip .barcode {
	position: absolute;
	left: 0;
	top: 0;
}

.swiss .packing_slip .invoice_label {
	left: 0;
	top: 25pt;
	bottom: auto;
}

.swiss .packing_slip .delivery_service_stamp {
	width: 50%;
	max-width: 50%;
}

.swiss .packing_slip .address_label {
	float: none;
	position: absolute;
	width: 100%;
	max-width: 100%;
	left: 0;
	bottom: 4pt;
}

.swiss .packing_slip .address_label_to {
	font-size: 1.1em;
	line-height: 1.2em;
	margin-bottom: 0pt;
	margin-left: 0pt;
}

/**
 * 	SWISS CN22
 */
.swiss_cn22 {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 10pt;
	line-height: 12pt;
}

.swiss_cn22 p {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 0.8em;
	line-height: 1em;
	margin: 0 0 9px;
}

.swiss_cn22 .packing_slip {
	display: block;
	margin: 0 auto;
	/*border: 1pt solid black;*/
	padding: 0;
	max-height: 292pt;
	height: 292pt;
	width: 432pt;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateY(-100%) rotate(90deg);
	-moz-transform: translateY(-100%) rotate(90deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
}

.swiss_cn22 .packing_slip .left {
	position: absolute;
	top: 0;
	left: 0;
	width: 55%;
	height: 100%;
	overflow: hidden;
}

.swiss_cn22 .packing_slip .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 45%;
	height: 100%;
}

.swiss_cn22 .packing_slip .barcode {
	position: absolute;
	left: 0;
	top: 0;
}

.swiss_cn22 .packing_slip .cn22 {
}

.swiss_cn22 .packing_slip .cn22 .header {
	position: absolute;
	left: 10pt;
	top: 5pt;
}

.swiss_cn22 .packing_slip .cn22 .header.icon {
	position: absolute;
	right: 10pt;
	top: 10pt;
	text-align: right;
}

.swiss_cn22 .packing_slip table, .swiss_cn22 .packing_slip table td, .swiss_cn22 .packing_slip table th {
	border-color: black;
	border-style: solid;
}

.swiss_cn22 .packing_slip table td, .swiss_cn22 .packing_slip table th {
	font-size: 0.75em;
	line-height: 1em;
	height: 10pt;
	margin: 0;
	padding: 2px;
}

.swiss_cn22 .packing_slip table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.swiss_cn22 .packing_slip table th {
	border-width: 0px 1px 0 0;
}

.swiss_cn22 .packing_slip table td {
	border-width: 1px 1px 0 0;
}

.swiss_cn22 .packing_slip table.outer {
	border-width: 0 0 1px 1px;
	margin-top: 32pt;
}

.swiss_cn22 .packing_slip table.nested {
	border-width: 0;
}

.swiss_cn22 .packing_slip table.nested.noborder td {
	border-width: 0;
}

.swiss_cn22 .packing_slip table th.lasth {
	border-width: 0;
}

.swiss_cn22 .packing_slip table td.lastd {
	border-width: 1px 0 0 0;
}

.swiss_cn22 .packing_slip .nopadding {
	padding: 0 !important;
}

.swiss_cn22 .packing_slip .noborder {
	border: 0 none !important;
}

.swiss_cn22 .packing_slip .delivery_service_stamp {
	width: 95%;
	max-width: 100%;
}

.swiss_cn22 .packing_slip .address_label {
	float: none;
	position: absolute;
	width: 100%;
	max-width: 100%;
	margin-left: 0;
	margin-top: 66pt;
}

.swiss_cn22 .packing_slip .address_label_to {
	position: absolute;
	font-size: 1.1em;
	line-height: 1.1em;
	bottom: 0;
	left: 10pt;
}

.swiss_cn22 .packing_slip .invoice_label {
	width: 60%;
	max-width: 60%;
	top: 0;
	bottom: auto;
}

/*
 * 
 *stamps
 */
.stamps .packing_slip {
	height: 420pt;
	max-height: 420pt;
}

.stamps div.international_mail {
	height: 640pt !important;
	max-height: 640pt !important;
	width: 420pt !important;
	max-width: 420pt !important;
}

.stamps div.first_class_mail {
	height: 420pt;
	max-height: 420pt;
	width: 640pt;
	-webkit-transform: translateY(-100%) rotate(90deg);
	-moz-transform: translateY(-100%) rotate(90deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
}

.stamps .custom_reference {
	position: absolute;
	bottom: 12pt;
	width: 100%;
	text-align: center;
}

.stamps .packing_slip img.international_mail {
	height: 120%;
	margin-left: -40pt;
	margin-top: -60pt;
}

.stamps .packing_slip img {
	height: 100%;
	weight: 100%;
}

/* 
 * 
 *fedex
 */
.fedex .packing_slip {
	border: 0 none !important;
	height: 420pt;
	width: 280pt;
	max-height: 420pt;
}

.fedex .packing_slip img {
	height: 100%;
	weight: 100%;
}

/*
 *
 * parcel force
 */
.parcel_force .packing_slip {
	border: 0 none !important;
	height: 420pt;
	width: 280pt;
	max-height: 420pt;
}

.parcel_force .packing_slip iframe {
	height: 100% !important;
	width: 100% !important;
}

/**
 * 	GLS
 */
.gls {
	font-family: "Swiss721 Cn BT";
	font-size: 10pt;
	line-height: 12pt;
}

.gls p {
	font-family: "Swiss721 Cn BT";
	font-size: 0.8em;
	line-height: 1em;
	margin: 0 0 9px;
}

.gls .packing_slip {
	display: block;
	margin: auto auto;
	border: 1pt solid black;
	padding: 0pt;
	height: 422pt;
	max-height: 420pt;
	width: 292pt;
	position: relative;
	overflow: hidden !important;
}

.gls .packing_slip .sorting {
	position: relative;
	height: 16.5mm;
	background-color: #606060;
}

.gls .packing_slip .sorting > div {
	position: absolute;
	top: 3mm;
	padding: 5pt;
	font-size: 28pt;
	line-height: 28pt;
	overflow: hidden !important;
}

.gls .packing_slip .sorting .outbound_sorting {
	left: 0mm;
	width: 42mm;
	background-color: #FFFFFF;
}

.gls .packing_slip .sorting .inbound_sorting {
	left: 46mm;
	color: #ffffff;
}

.gls .packing_slip .sorting .consignee_country {
	left: 55mm;
	background-color: #FFFFFF;
}

.gls .packing_slip .sorting .final_location {
	left: 75mm;
	color: #ffffff;
}

.gls .packing_slip .highlight {
	position: relative;
	border-top: 1pt solid black;
	padding: 0pt;
	height: 12mm;
}

.gls .packing_slip .highlight > p {
	position: absolute;
}

.gls .packing_slip .highlight .tour_number {
	left: 3mm;
	top: 3mm;
	font-size: 22pt;
	line-height: 22pt;
}

.gls .packing_slip .highlight .zip_code_label {
	left: 33mm;
	top: 1mm;
	font-size: 6pt;
	line-height: 6pt;
}

.gls .packing_slip .highlight .zip_code {
	left: 33mm;
	top: 6mm;
	font-size: 10pt;
	line-height: 10pt;
}

.gls .packing_slip .highlight .track_id_label {
	left: 55mm;
	top: 1mm;
	font-size: 6pt;
	line-height: 6pt;
}

.gls .packing_slip .highlight .track_id {
	left: 55mm;
	top: 8mm;
	font-size: 12pt;
	line-height: 12pt;
	font-weight: bold;
}

.gls .packing_slip .barcode {
	position: relative;
	border-top: 1pt solid black;
	padding: 3pt;
	height: 29mm;
}

.gls .packing_slip .barcode.emergency {
	height: 65mm !important;
}

.gls .packing_slip .barcode .target3 {
	left: 33mm;
	right: auto;
}

.gls .packing_slip .barcode .data_matrix {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); /* trick way to vertical align */
	min-height: 19mm;
	min-width: 19mm;
	overflow: hidden !important;
}

.gls .packing_slip .barcode .target1 {
	border-style: solid;
	border-width: 3px;
	-moz-border-image: url(images/border-img.png) 3 stretch;
	-webkit-border-image: url(images/border-img.png) 3 stretch;
	-o-border-image: url(images/border-img.png) 3 stretch;
	border-image: url(images/border-img.png) 3 fill stretch;
	padding: 10px;
	left: 5mm;
}

.gls .packing_slip .barcode .target1:after {
	background-color: white;
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	z-index: -1;
}

.gls .packing_slip .barcode .target2 {
	left: 75mm;
}

.gls .packing_slip .consignment_highlight {
	position: relative;
	border-top: 1pt solid black;
	height: 8mm;
	top: 5pt;
}

.gls .packing_slip .consignment_highlight > p {
	position: absolute;
}

.gls .packing_slip .consignment_highlight .pickup_location {
	left: 3mm;
	top: 2mm;
	font-size: 9pt;
	line-height: 9pt;
}

.gls .packing_slip .consignment_highlight .date {
	left: 25mm;
	top: 2mm;
	font-size: 8pt;
	line-height: 8pt;
}

.gls .packing_slip .consignment_highlight .weight {
	left: 42mm;
	top: 2mm;
	font-size: 9pt;
	line-height: 9pt;
	font-weight: bold;
}

.gls .packing_slip .consignment_highlight .parcel_info {
	left: 63mm;
	top: 2mm;
	font-size: 8pt;
	line-height: 8pt;
}

.gls .packing_slip .consignment_highlight .rtg {
	left: 74mm;
	top: 2mm;
	font-size: 8pt;
	line-height: 8pt;
}

.gls .packing_slip .consignment {
	position: relative;
	border-top: 1pt solid black;
	padding: 0pt;
	height: 81mm;
}

.gls .packing_slip .blank_block {
	position: absolute;
	border-right: 1pt solid black;
	padding: 3pt;
	height: 31mm;
	width: 78mm;
	top: 0mm;
}

.gls .packing_slip .address_label_to {
	position: absolute;
	border-top: 1pt solid black;
	border-right: 1pt solid black;
	padding: 3pt;
	height: 31mm;
	width: 78mm;
	top: 31mm;
}

.gls .packing_slip .address_label_to > p {
	position: absolute;
}

.gls .packing_slip .address_label_to .consignment_reference {
	right: 2mm;
	top: 1mm;
	font-size: 7pt;
	line-height: 7pt;
}

.gls .packing_slip .address_label_to .consignment_contact {
	top: 6mm;
	font-size: 13pt;
	line-height: 13pt;
}

.gls .packing_slip .address_label_to .consignment_address {
	top: 26mm;
	font-size: 8pt;
	line-height: 8pt;
}

.gls .packing_slip .consignment .additional {
	position: absolute;
	border-top: 1pt solid black;
	border-right: 1pt solid black;
	padding: 3pt;
	height: 16mm;
	width: 78mm;
	top: 62mm;
}

.gls .packing_slip .consignment .additional > p {
	position: absolute;
	font-size: 8pt;
	line-height: 10pt;
}

.gls .packing_slip .return_address {
	position: absolute;
	border: 0;
	padding: 5pt;
	width: 78mm;
	height: 21mm;
	right: 24mm;
	bottom: 0pt;
	font-size: 6pt;
	line-height: 8pt;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
}

/**
 * 	AUSTRIALIA POST
 */
.auspost {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 10pt;
	line-height: 12pt;
}

.auspost p {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 0.8em;
	line-height: 1em;
	margin: 0 0 0px;
}

.auspost .packing_slip {
	display: block;
	margin: auto auto;
	/*border: 1pt solid black;*/
	padding: 2pt;
	height: 418pt;
	max-height: 420pt;
	width: 280pt;
	position: relative;
	overflow: hidden;
}

.auspost .packing_slip .logo {
	height: 50pt;
	width: 100%;
	margin: 5pt 0 0;
}

.auspost .packing_slip .logo img {
	width: 100%;
}

.auspost .packing_slip .address_label {
	position: relative;
	float: none;
	margin: 0 3pt;
	width: 75%;
	font-size: 1.1em;
	line-height: 1.2em;
}

.auspost .packing_slip .address_label_to td {
	font-size: 1.1em;
	line-height: 1.2em;
}

.auspost .packing_slip .address_label_to td.contact {
	height: 20pt;
}

.auspost .packing_slip .address_label_to td.address {
	height: 45pt;
}

.auspost .packing_slip .address_label_from td {
	font-size: 0.9em;
	line-height: 1.0em;
}

.auspost .packing_slip .address_label_from .aviation_declaration {
	font-size: 0.75em;
	line-height: 1.1em;
}

.auspost .packing_slip .consignment {
	position: relative;
	border-top: 1pt solid black;
	padding: 3pt;
	height: 28pt;
}

.auspost .packing_slip .barcode {
	position: absolute;
	width: 265pt !important;
	bottom: 25pt;
	left: -52pt;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
}

.auspost .packing_slip .barcode .article_id {
	text-align: left;
	font-size: 0.9em;
	padding: 0 10pt;
}

.auspost .packing_slip .barcode img {
	display: block;
	position: relative;
	margin: 0;
	width: 100%;
}

.auspost .packing_slip .matrix_barcode {
	position: absolute;
	right: 2pt;
	top: 60pt;
	padding: 1pt;
	height: 60pt;
	width: 60pt;
}

.auspost .postage_paid {
	text-align: center;
	font-size: 0.85em;
	font-weight: bold;
}

.auspost .packing_slip .sender_address {
	position: relative;
}

.auspost .invoice_label {
	border: 1px solid #000;
	bottom: 0pt;
	max-width: 58%;
	padding: 2px;
	position: absolute;
	right: -2pt;
	width: 58%;
	display: none !important;
}

/**
 * 	France LaPoste
 */
.laposte {
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 10pt;
	line-height: 12pt;
}

.laposte .packing_slip {
	margin: auto auto;
	border: 1pt solid black;
	padding: 2pt;
	display: block;
	height: 270pt;
	max-height: 270pt;
	width: 280pt;
	position: relative;
	overflow: hidden !important;
}

.laposte .delivery_service_code {
	float: left;
	width: 20%;
	font-size: 1.1em;
}

.laposte .address_header_note {
	float: right;
	width: 80%;
	text-align: right;
}

.laposte .sender_address {
	position: absolute;
	width: 80%;
	font-size: 0.8em;
	line-height: 1.1em;
	top: 25mm;
	left: 20mm;
	right: auto;
	bottom: auto;
}

.laposte .barcode_text {
	position: absolute;
	top: 48mm;
	left: 20mm;
}

.laposte .barcode_nostrech {
	min-width: 150px;
	padding: 0;
	position: absolute;
	top: 54mm;
	left: 20mm;
	right: auto;
	bottom: auto;
}

.laposte .delivery_service_stamp {
	position: absolute;
	display: block;
	max-width: 14mm;
	overflow: hidden;
	text-align: right;
	width: 14mm;
	top: 50mm;
	right: 15mm;
}

.laposte .address_label_to {
	font-size: 1.1em;
	line-height: 1.3em;
	margin-top: 65mm;
	margin-left: 20mm;
	margin-right: 15mm;
}

.laposte .invoice_label {
	border: none;
	top: 38mm;
	bottom: auto;
	max-width: 60%;
	padding: 2px;
	position: absolute;
	left: 20mm;
	width: 50%;
	max-height: 15mm;
	font-family: helvetica;
	font-size: 0.6em;
	line-height: 1em;
}

.laposte4x2 .delivery_service_stamp {
	border: 1px solid black;
	margin-top: 3pt;
	padding: 2pt;
	font-size: 0.70em;
	line-height: 10pt;
}

.laposte4x2 .delivery_service_code {
	float: left;
	width: 20%;
	font-size: 1.1em;
	font-weight: bold;
}

.laposte4x2 .address_header_note {
	float: right;
	width: 80%;
	text-align: right;
}

/**
 * 	Whistl
 */
.whistl .address_label_to {
	margin-left: 5mm;
}

.whistl .address_label {
	width: 180pt !important;
}

.whistl .return_address {
	width: 70%;
}

.whistl .delivery_service_stamp {
	max-width: 19mm !important;
	max-height: 60mm !important;
}

.whistl .invoice_label {
	max-height: 15mm;
}

/**
 * 	Hong Kong Small Parcel
 */
.hksp .packing_slip {
	display: block;
	margin: auto auto;
	border: 1pt solid black;
	padding: 5pt 3pt;
	position: relative;
	overflow: hidden;
}

.hksp .return_address {
	width: 45%;
	font-size: 0.8em;
	line-height: 1.1em;
	border-bottom: none;
}

.hksp .postage_info {
	float: right;
	width: 50%;
}

.hksp .table th, .hksp .table td {
	border-top: 1px solid #dddddd;
	font-size: 0.85em;
	line-height: 1.2em;
	padding: 3pt;
	text-align: center;
	vertical-align: middle;
}

.hksp .address_label_to {
	margin-top: 10mm;
	margin-left: 5mm;
	font-size: 1em;
	line-height: 1.2em;
}

.hksp .address_label {
	width: 180pt !important;
}

.hksp .delivery_service_stamp {
	max-width: 25mm !important;
	max-height: 100mm !important;
}

.hksp .invoice_label {
	max-height: 15mm;
}

.hksp .barcode {
	left: 5mm;
	bottom: 5mm;
}

.hksp .country_code {
	bottom: 10mm;
	right: 20mm;
	position: absolute;
}

.hksp .cn22 p {
	font-size: 0.8em;
	line-height: 1em;
	margin: 3px 0 9px;
}

.hksp .cn22 .header {
	font-size: 1em;
	line-height: 1.2em;
}

.hksp .cn22 .subtitle {
	font-size: 0.8em;
	line-height: 1.3em;
}

.hksp .cn22 .header.icon {
	position: absolute;
	right: 10pt;
	top: 1pt;
	text-align: right;
	font-size: 1.4em;
}

.hksp .cn22 .header.right {
	position: absolute;
	right: 1pt;
	top: 15pt;
	text-align: right;
}

.hksp .cn22 table, .hksp .cn22 table td, .hksp .cn22 table th {
	border-color: black;
	border-style: solid;
}

.hksp .cn22 table td, .hksp .cn22 table th {
	font-size: 0.75em;
	line-height: 1em;
	height: 10pt;
	margin: 0;
	padding: 2px;
}

.hksp .cn22 table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.hksp .cn22 table th {
	border-width: 0px 1px 0 0;
}

.hksp .cn22 table td {
	border-width: 1px 1px 0 0;
}

.hksp .cn22 table.outer {
	border-width: 0 0 1px 1px;
	margin-top: 18pt;
}

.hksp .cn22 table.nested {
	border-width: 0;
}

.hksp .cn22 table.nested.noborder td {
	border-width: 0;
}

.hksp .cn22 table th.lasth {
	border-width: 0;
}

.hksp .cn22 table td.lastd {
	border-width: 1px 0 0 0;
}

.hksp .cn22 .nopadding {
	padding: 0 !important;
}

.hksp .cn22 .noborder {
	border: 0 none !important;
}

