.addressBook {  /* stylelint-ignore */

}

.antLayoutSider {
  float: left;
}

.antLayoutContent {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.addressIcon {
  font-size: 2.2em !important;
  color: #CC333F;
}

.addressButtonWrapper {
  text-align: center;
}

.addressItem {
  margin: 30px 0;
  padding: 15px 10px;
  background-color: #FAFAFA;
  border-radius: 4px;
  color: #666;
  line-height: 180%;
}

.separator {
  margin: 15px;
  border: 0.5pt solid #DDD;
}

.addressOperationIcon {
  font-size: 1.3em;
  cursor: pointer;
}

.addressEditIcon {
  color: #58a;
}

.addressDeleteIcon {
  color: #CC333F;
}

.addressName {
  font-weight: 500;
  color: #444;
  font-size: 1.1em;
  margin-right: 5px;
}

.addIcon {
  margin-right: 5px;
}

.addForm {
  margin: 10px 0 40px 0;
  padding: 2em;
	border: 6px solid transparent;
  border-image: 6 repeating-linear-gradient(-45deg, #CC333F 0, #CC333F 1em, transparent 0, transparent 2em,
	              #58a 0, #58a 3em, transparent 0, transparent 4em);
	max-width: 100%;
}

.submitButton {
  background-color: #58a !important;
  border: none;
}

.resetButton {
  background-color: #CC333F !important;
  border: none;
  margin-right: 20px;
}

.addButton {
	background-color: #58a !important;
  border: none;
}

.emptyList {
  min-height: 30px;
  margin: 30px 2px;
  color: #AAA;
}
