.panelHeader {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  cursor: pointer;
  background: #dbf0ef;
  /*border: 1px solid #b7e1df;*/
  padding: 15px;
  color: #555;
}

.panel:hover {
  border: 1px solid #00A0B0;
}

.panel {
  margin-bottom: 30px;
  border: 1px solid #b7e1df;
}

.label {
  color: #AAA;
  font-weight: 400;
}

.text {
  color: #666;
}

.content {
  line-height: 200%;
  /*border: 1px solid #b7e1df;*/
  border-top: none;
}

.contentCol {
  padding: 20px;
  border-right: 1px solid #dbf0ef;
}

.panelButton {
  margin-right: 5px;
}

.orderTime {
  color: #444;
  font-weight: 600;
}

.consignee {
  font-weight: 500;
  color: #444;
}

.operationCol {
  padding: 10px;
  height: 100%;
  text-align: center;
  line-height: 200%;
}

.operation {
  cursor: pointer;
  font-weight: 500;
}

.deleteOperation {
  color: #FF3A46;
}

.cancelOperation {
  color: #888;
  margin-top: 15px;
}

.warehouseOperation {
  margin-top: 10px;
  color: #666;
}

.tracePlaceholder {
  color: #FA6900;
  font-weight: 500;
}
