.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px dotted lightgray;
  padding: 8%;
}

.content {
  font-size: 20px;
  color: dimgray;
}

.result {
  color: #FF3A46;
}

.balance {
  margin-top: 15%;
}

.label {
  color: #AAA;
  margin-right: 10px;
}

.buttonWrapper {
  margin-top: 10%;
  text-align: left;
}
