.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.content {
  background-color: #FAFAFA;
  padding: 15px;
}

.label {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
}

.submitButton {
  margin-top: 30px;
}

.removeButton {
  margin-top: 2px;
}

.times {
  text-align: center;
  padding-top: 5px;
}
