.popoverContainer {
  min-height: 30px;
}

.traceItem:first-child {
  color: #FF3A46;
}

.viewMore {
  margin-top: 20px;
}

.link {
  color: #FA6900;
}
.link:hover {
  color: #FA6900;
}

.icon {
  margin-right: 8px;
}

:global .ant-popover-inner {
  border: 1px solid #FA6900;
}

:global .ant-popover-placement-bottom .ant-popover-arrow:after, :global .ant-popover-placement-bottomLeft .ant-popover-arrow:after, :global .ant-popover-placement-bottomRight .ant-popover-arrow:after {
  border-bottom-color: #FA6900;
}

:global .ant-popover-placement-bottomLeft .ant-popover-arrow {
  border-bottom-color: #FA6900;
}
