.separator {
  padding: 0 20px;
  color: #333;
}

.orders {
  padding-left: 50px;
}

.account {
  padding-left: 30px;
  cursor: pointer;
}

.userName {
  color: #DDD;
  font-size: 13px;
}

.icon {
  padding-left: 10px;
}
