.stepsBar {
  margin-left: -16%;
  margin-right: -16%;
  padding: 30px 16%;
  background-color: rgb(113, 246, 221);
  margin-bottom: 30px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none
}

:global .ant-steps .ant-steps-head {
  background-color: rgb(113, 246, 221);
}

:global .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner {
  border-color: rgb(255, 58, 70);
  background-color: rgb(255, 58, 70);
}

:global .ant-steps .ant-steps-title {
  background-color: rgb(113, 246, 221);
  font-weight: 400;
}

:global .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-title {
  color: rgba(255, 58, 70, 0.9);
}

:global .ant-steps .ant-steps-item.ant-steps-status-wait .ant-steps-head-inner > .ant-steps-icon {
  color: #999;
}

:global .ant-steps i {
  background-color: #FFF !important;
  height: 1.2pt !important;
}

:global .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner {
  border-color: #FFF;
}

:global .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon {
  color: #999;
}

:global .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-tail > i:after {
  background-color: #FFF;
}

:global .ant-steps .ant-steps-item.ant-steps-status-wait .ant-steps-head-inner {
  border-color: #FFF;
}

:global .ant-steps .ant-steps-item.ant-steps-status-wait .ant-steps-title {
  color: #777;
}
.title {
  background-color: none;
}

.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-title {
  color: #777;
  font-weight: lighter;
}
