.navBar {
  padding: 8px 12%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.separator {
  font-size: 16px;
  color: #DDD;
  margin: 0 10px;
  font-weight: 100;
}

.image {
  height: 30px;
}

.slogan {
  font-size: 16px;
  color: #BBB;
  font-weight: 200;
}

.shipment a {
  font-size: 16px;
  color: #888;
}

.track {
  font-size: 16px;
}

.icon {
  margin-right: 10px;
}
