.marketing1 {
  min-height: 500px !important;
  background: url(./bg-slider.png) no-repeat center center;
  background-size: cover;
  padding: 40px;
}

.marketing2 {
  min-height: 500px !important;
  background: url(./marketing2.jpg) no-repeat center center;
  background-size: cover;
}

.tab {
  /*margin: 40px 0;*/
}

.satisfiedCustomer {
  text-align: center;
  font-size: 1.2em;
  color: #666;
}

.badge {
  height: 100px;
  margin-bottom: 30px;
}

.headerLeft {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  text-align: center;
  padding: 12px 0;
  color: #888;
}

.headerLeft > span {
  border-bottom: 2px #DDD dashed;
  padding-bottom: 13px;
}

.quoteButton {
  margin-top: 25px;
  margin-bottom: 30px;
}

.content {
  padding-left: 2%;
}

.signupContent {
  color: #333;
  font-weight: 500;
  font-size: 1.1em;
}


.contentWrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

:global .ant-carousel .slick-slider {
  padding-bottom: 0;
}

:global .ant-carousel .slick-dots li button:before {
  font-size: 30px;
}

.signupWrapper {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
  font-size: 1.3em;
  padding: 20px;
}

.switchButton {
  border-radius: 0;
  background-color: #FF3A46;
  color: #FEFEFE;
  font-weight: 400;
  padding: 5px 15px;
  font-size: 1.4em;
}

.switchButton::hover,  .switchButton::focus,{
  background-color: #FF3A46 !important;
}

.sectionTitle {
  margin: 2% 0 1% 0;
  text-align: center;
  font-size: 20px;
}

.banner {
  font-size: 2em;
  font-weight: 500;
  padding: 15px 0 20px 0;
  color: #333;
}

.signupWrapper {
  margin-top: 30px;
}

.feature {
  font-size: 1.2em;
  line-height: 200%;
  color: #888;
}

.checkIcon {
  padding-right: 10px;
  color: #46bfa9;
  font-weight: 700;
}

.marketing {
  margin: 0 -15.789%;
}

.stepImage {
  height: 100px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.stepContent {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.stepWrapper {
  margin: 5% 0;
}

.stepImg {
  width: 100%;
}


.advantageWrapper {
  margin: 0 -15.789% -16% -15.789%;
  padding: 5% 15.789%;
  background-color: #fcfcfc;
  text-align: center;
}

.stepNumber {
  font-size: 6em;
  color: #FF3A46;
  font-weight: 700;
  margin-bottom: 8%;
}

.stepTitle {
  font-size: 3em;
  color: #444;
  margin-bottom: 4%;
}

.stepDesc {
  font-size: 1.5em;
  color: #AAA;
  margin-bottom: 20%;
}
