/* Global styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:global(#app) {
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  margin: 10px 12% 0 12%;
}
