.antLayoutSider {
  float: left;
}

.antLayoutContent {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.card {
  width: 500px;
}

.cardWrapper {
  clear: both;
}

.line {
  margin: 30px 0;
}
