.notFound {
  background-color: #27384C;
  min-height: 100%;
  text-align: center;
  margin: 0 -15.789% -15% -15.789%;
}

.content {
  padding-bottom: 3%;
  margin-bottom: 3%;
}

.button {
  font-size: 16px;
  color: #d9d9d6;
  font-weight: 100;
  padding: 10px;
}

.image {
  padding-top: 3%;
  width: 40%;
  padding-bottom: 3%;
}
