.antLayoutSider {
  float: left;
}

.antLayoutContent {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.table {
  clear: both;
}

.reloadIcon {
  cursor: pointer;
  color: #2db7f5;
}
